/* General styles */
body {
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 100;
  font-style: normal;
  background-color: #f9f9f9;
}

.projects-page {
  padding: 20px;
  font-family: "Poppins", system-ui;
  background-color: #f9f9f9;
}

.projects-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.projects-page ul {
  list-style: none;
  padding: 0;
}

.projects-page li {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-page li h2 {
  margin: 0 0 10px;
  font-size: 22px;
  color: #333;
}

.projects-page li p {
  margin: 5px 0;
  color: #333; /* Darker color */
  font-weight: 400; /* Heavier weight */
}


form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #002a2ddd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #008f99dd;
}

.form-and-map-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.location-container {
  display: flex;
  align-items: center;
}

.location-container input {
  flex: 1;
  margin-right: 10px;
}

.location-button {
  padding: 10px 20px;
  background-color: #002a2ddd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.location-button:hover {
  background-color: #00181add;
}

.map-container,
.form-container {
  flex: 1;
  margin: 10px;
  min-width: 300px; /* Ensure a minimum width for smaller screens */
}

@media screen and (max-width: 600px) {
  .form-and-map-container {
    flex-direction: column;
  }
}